# Dependencias
node_modules
bun.lock

# Archivos de construcción
dist
dist-ssr
*.local
.rspack-cache  
.rspack/ 

# Configuración del editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
